/* Layout */


.app-shell {
     display: flex;
     flex-direction: row;
     height: 100%;
     width: 100%;
     .app-shell__content {
          flex: 1;
          display: flex;
          flex-direction: column;
          .app-shell__header {
               height: $header-height--default;
               border-bottom :1px solid #eee; 
          }
          .workarea__header {
               height: $header-height--xl;
               border-bottom :1px solid #eee; 
          }
          .workarea__content {
               flex: 1;
          }
     }
}

$optionsPanelWidth: 240px;
$detailsPanelWidth: 800px;

.panel__options, .panel__canvas, .panel__details {
     padding: 16px;
}
.panel__options {
     width: $optionsPanelWidth;
     background: #f9f9f9;
     border-right :1px solid #ccc;
}
.panel__canvas {
     background: #E0E9F2;
}
.panel__details {
     position: relative;
     background: #f3f3f3;
     border-left :1px solid #ccc;
     .toggle-panel {
          position: absolute;
          top: 50%;
          left: -16px;
     }
}

/* wWrkarea */
@media screen and (min-width: 1280px) {
     .workarea__content {
          display: flex;
          flex-direction: row;
          .panel__options {
          }
          .panel__canvas {
               flex: 1;
          }
          .panel__details {
               flex: 1;
               max-width: 1024px;
               transition: all .25s ease-in-out;
               .panel__details--content {
                    opacity: 1;
                    transition: opacity .25s ease-in-out .25s;
               }
               &.closed {
                    flex: 0;
                    width: 16px;
                    .panel__details--content {
                         opacity: 0;
                    }
               }
          }
     }
}
/* <1280px Screens */
@media screen and (max-width: 1279px) {
     .workarea__content {
          display: flex;
          position: relative;
          .panel__options, .panel__canvas, .panel__details {
               height: 100%;
          }
          .panel__options {
               width: $optionsPanelWidth;
          }
          .panel__canvas {
               flex: 1;
          }
          .panel__details {
               position: absolute;
               top: 0;
               right: 0;
               width: 16px;
               transition: width .25s ease-in-out;
               &:hover {
                    cursor: pointer;
               }
               .panel__details--content {
                    display: none;
               }
               &.open {
                    min-width: $detailsPanelWidth;
                    box-shadow: -10px 0px 5px -4px rgba(0, 0, 0, .25);
                    // transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, .55);
                    .panel__details--content {
                         display: block;
                    }
               }
          }
     }
}