/* Sidenav */

@mixin shellTheme {
     color: #fff;
     border-right :1px solid #eee;
     background: #666;
}
.app-shell__sidenav {
     width: 242px;
     @include shellTheme();
}
.app-shell__header {
     height: $header-height--default;
     @include shellTheme();
}
.workarea__header {
     height: $header-height--xl;
     border-bottom: 1px solid #eee;
}
.workarea__content {
     flex: 1;
}