/* Responsive */


/* Sml Displays - Portrait iPad Pro and smaller */
@media screen and (max-width: $display--sml) {
     .app-shell {
          // border: 5px solid orange;
     }
}

/* XL Displays */
@media screen and (min-width: $display--xl) {
     .app-shell {
          // border: 10px solid purple;
     }
}
