/* Variables */
/* NOTE: All spacing, padding, heights, etc. are based on 8pt grid; Divisible by even number such as 4 or 8px */

/* Display Sizes */
$display--xl: 1600px;
$display--default: 1440px;
$display--sml: 1366px;

/* Layout */
$header-height--xl: 64px;
$header-height--default: 40px;
$header-height--small: 32px;
