/* Variables */
/* NOTE: All spacing, padding, heights, etc. are based on 8pt grid; Divisible by even number such as 4 or 8px */
/* Display Sizes */
/* Layout */
/* Common */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

/* Layout */
.app-shell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
}

.app-shell .app-shell__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app-shell .app-shell__content .app-shell__header {
  height: 40px;
  border-bottom: 1px solid #eee;
}

.app-shell .app-shell__content .workarea__header {
  height: 64px;
  border-bottom: 1px solid #eee;
}

.app-shell .app-shell__content .workarea__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.panel__options, .panel__canvas, .panel__details {
  padding: 16px;
}

.panel__options {
  width: 240px;
  background: #f9f9f9;
  border-right: 1px solid #ccc;
}

.panel__canvas {
  background: #E0E9F2;
}

.panel__details {
  position: relative;
  background: #f3f3f3;
  border-left: 1px solid #ccc;
}

.panel__details .toggle-panel {
  position: absolute;
  top: 50%;
  left: -16px;
}

/* wWrkarea */
@media screen and (min-width: 1280px) {
  .workarea__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .workarea__content .panel__canvas {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .workarea__content .panel__details {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 1024px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
  }
  .workarea__content .panel__details .panel__details--content {
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out .25s;
    transition: opacity .25s ease-in-out .25s;
  }
  .workarea__content .panel__details.closed {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    width: 16px;
  }
  .workarea__content .panel__details.closed .panel__details--content {
    opacity: 0;
  }
}

/* <1280px Screens */
@media screen and (max-width: 1279px) {
  .workarea__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
  .workarea__content .panel__options, .workarea__content .panel__canvas, .workarea__content .panel__details {
    height: 100%;
  }
  .workarea__content .panel__options {
    width: 240px;
  }
  .workarea__content .panel__canvas {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .workarea__content .panel__details {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    -webkit-transition: width .25s ease-in-out;
    transition: width .25s ease-in-out;
  }
  .workarea__content .panel__details:hover {
    cursor: pointer;
  }
  .workarea__content .panel__details .panel__details--content {
    display: none;
  }
  .workarea__content .panel__details.open {
    min-width: 800px;
    -webkit-box-shadow: -10px 0px 5px -4px rgba(0, 0, 0, 0.25);
            box-shadow: -10px 0px 5px -4px rgba(0, 0, 0, 0.25);
  }
  .workarea__content .panel__details.open .panel__details--content {
    display: block;
  }
}

/* Sidenav */
.app-shell__sidenav {
  width: 242px;
  color: #fff;
  border-right: 1px solid #eee;
  background: #666;
}

.app-shell__header {
  height: 40px;
  color: #fff;
  border-right: 1px solid #eee;
  background: #666;
}

.workarea__header {
  height: 64px;
  border-bottom: 1px solid #eee;
}

.workarea__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* Responsive */
/* Sml Displays - Portrait iPad Pro and smaller */
/* XL Displays */
